@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.DetailModel
@{

}
@if(Model.Message != null)
{
    <div class="alert alert-info">
        <p>
            @Model.Message
        </p>
    </div>
}
<h2>@Model.Restaurant.Name</h2>
<div>
    <p>Restaurant Id: @Model.Restaurant.Id</p>
    <p>Restaurant Location : @Model.Restaurant.Location</p>
    <p>Cuisine Type: @Model.Restaurant.Cuisine</p>
</div>

<a asp-page="./List" class="btn btn-default">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Go back!
</a>